.ui.main.tiered.menu.large
  .menu
    a.item(href="/", title="#{config.service.name} THE PODCAST")
      img(src="/img/decentralize-emblem.gif", style="max-height: 2em; float:left; margin-right: 0.1em;", alt="D")
      | #{config.service.name.substring(1)}
      span(style="display:block; font-size: 0.8em; letter-spacing: 0.1285em;") THE PODCAST

    //- block for prepend/append/replace-able menu items
    block mainMenu
      .right.menu
        a.item.tooltipped(href="/feed", title="Subscribe to the RSS feed using a tool of your choice!")
          i.icon.feed(alt="RSS Feed", title="Subscribe via RSS")
          | Subscribe!
        
        a.item.tooltipped(class="btn btn-default", href="bitcoin:#{ show.donations.destination }", title="If you have a bitcoin wallet installed and configured, this will launch it.") 
          i.icon.bitcoin(alt="Bitoin", title="Donate Bitcoin")
          | Donate &raquo;

  .ui.sub.menu
    a.item(href="/", title="#{config.service.name} Homepage", ng-class="{ active: isActive('/')}")
      i.home.icon
      |  Home
    each resource in resources
      if (!resource.internal)
        a.item(href="#{resource.routes.query}")
          if (resource.options.icon)
            i.icon(class="#{resource.options.icon}")
          | #{resource.plural}
    a.item.tooltipped(href="#{ config.service.source }", title="View the Source, Luke!  Source code for this site.")
      i.fork.icon
      | Code &raquo;
