.event
  .content
    .summary
      a.user(href="/") #{config.service.name}
      |  published 
      a(href="/shows/#{item.slug}") #{item.title}
      abbr.date.tooltipped(title="#{ moment( item.released ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( item.released ).fromNow() }
    .extra.text(style="max-width: none;") !{ (item.description) ? markdown( item.description ) : '' }
    a.ui.button.attached.right.tooltipped(href="http://#{show.source.authority}/files/#{item.audio}.md5sum", title="However you've received this file, its md5 checksum should be: #{item.hash}")
      i.lock.icon
      | Verify
    a.ui.button.attached.right.tooltipped(href="http://#{show.source.authority}/files/#{item.torrent}", title="Help distribute this content by using BitTorrent.")
      i.cloud.download.icon
      | Torrent
    a.ui.button.attached.right.tooltipped(href="#{item.magnet}", title="Launches your BitTorrent client directly.")
      i.magnet.icon
      | Magnet
    a.ui.button.attached.right.tooltipped(href="bitcoin:#{show.donations.destination}", title="Donate to the show with Bitcoin!")
      i.bitcoin.icon
      | Donate
    a.ui.button.attached.right(href="/shows/#{item.slug}")
      i.sound.icon
      | Listen Now &raquo;
