.event
  .content
    .summary
      a.user(href="/") #{config.service.name}
      |  published 
      a(href="/shows/#{item.slug}") #{item.title}
      abbr.date.tooltipped(title="#{ moment( item.released ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( item.released ).fromNow() }
      if (item.youtube)
        a.ui.label(href="https://www.youtube.com/watch?v=#{item.youtube}", rel="me")
          i.youtube.icon
          | video interview!
    .extra.text(style="max-width: none;") !{ (item.description) ? markdown( item.description.split('\n\n')[0] ) : '' }
    a.ui.button.attached.right.tooltipped(href="http://#{show.source.authority}/files/#{item.media}.md5sum", title="However you've received this file, its md5 checksum should be: #{item.hash} BitTorrent will automatically check this for you.")
      i.lock.icon
      | Verify
    a.ui.button.attached.right.tooltipped(href="http://#{show.source.authority}/files/#{item.torrent}", title="Using BitTorrent will help make this content resistant to censorship.  Contribute by seeding your local copy to the network!")
      i.cloud.download.icon
      | Torrent
    a.ui.button.attached.right.tooltipped(href="#{item.magnet}", title="Launches your BitTorrent client directly.")
      i.magnet.icon
      | Magnet
    a.ui.button.attached.right.tooltipped(href="bitcoin:#{show.donations.destination}", title="Donate to the show with Bitcoin!")
      i.bitcoin.icon
      | Donate
    a.ui.button.attached.right.tooltipped(href="/shows/#{item.slug}", title="View the full show notes at the permalink.")
      i.sound.icon
      | Listen &raquo;
    a.ui.button.tooltipped(href="https://twitter.com/intent/tweet?via=DecentralizeAll&url=#{show.home}/shows/#{item.slug}", title="Reply to this episode on Twitter.")
      i.twitter.icon
      | Discuss &raquo;
