doctype xml
rss(version="2.0"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:cc="http://web.resource.org/cc/"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  xmlns:media="http://search.yahoo.com/mrss/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#")
  channel
    //-atom:link(href="#{config.service.proto}://#{config.service.authority}/#{resource.collection}", rel="self", type="application/rss+xml")
    atom:link(href="#{config.service.proto}://#{config.service.authority}/feed", rel="self", type="application/rss+xml")
    title #{config.service.name} #{resource.plural}
    pubDate #{ moment(collection[0].released).format('ddd, DD MMM YYYY HH:mm:ss ZZ') }
    link http://#{config.service.authority}/#{resource.collection}
    description #{config.service.description}
    for item in collection
      item
        title #{item.title}
        link http://#{config.service.authority}/#{resource.collection}/#{item.slug}
        guid(isPermaLink="true") http://#{config.service.authority}/#{resource.collection}/#{item.slug}
        description <![CDATA[!{markdown(item.description)}]]>
        pubDate #{moment(item.released).format('ddd, DD MMM YYYY HH:mm:ss ZZ')}
        enclosure(url="http://#{show.source.authority}/files/#{item.media}", length="#{item.size}", type="audio/mpeg")
