doctype xml
rss(version="2.0"
  xmlns:atom="http://www.w3.org/2005/Atom"
  xmlns:cc="http://web.resource.org/cc/"
  xmlns:itunes="http://www.itunes.com/dtds/podcast-1.0.dtd"
  xmlns:media="http://search.yahoo.com/mrss/"
  xmlns:rdf="http://www.w3.org/1999/02/22-rdf-syntax-ns#")
  channel
    atom:link(href="http://#{config.service.authority}/#{resource.collection}", rel="self", type="application/rss+xml")
    title #{config.service.name} #{resource.plural}
    link http://#{config.service.authority}/#{resource.collection}
    pubDate #{ moment(collection[0].released).format('ddd, DD MMM YYYY HH:mm:ss ZZ') }
    lastBuildDate #{ moment(collection[0].released).format('ddd, DD MMM YYYY HH:mm:ss ZZ') }
    ttl 60
    language en
    copyright CC-BY
    description #{config.service.description}
    itunes:subtitle #{config.service.description.substring(0, 49)}…
    itunes:owner
      itunes:name #{config.service.name}
    itunes:author #{config.service.name}
    itunes:explicit no
    itunes:category(text="Technology")
    itunes:image(href="http://i1.sndcdn.com/avatars-000133883249-rctnsg-original.png")
    itunes:keywords bitcoin, blockchain, cryptograph, finance
    //-itunes:email eric@decentralize.fm
    image
      url http://i1.sndcdn.com/avatars-000133883249-rctnsg-original.png
      title #{config.service.name}
      link #{config.service.proto}://#{config.service.authority}
    for item in collection
      item
        guid(isPermaLink="true") http://#{config.service.authority}/#{resource.collection}/#{item.slug}
        title #{item.title}
        pubDate #{moment(item.released).format('ddd, DD MMM YYYY HH:mm:ss ZZ')}
        link http://#{config.service.authority}/#{resource.collection}/#{item.slug}
        itunes:duration 00:42:38
        itunes:author DECENTRALIZE
        itunes:explicit no
        itunes:summary <![CDATA[!{markdown(item.description)}]]>
        description <![CDATA[!{markdown(item.description)}]]>
        enclosure(url="http://#{show.source.authority}/files/#{item.media}", length="#{item.size}", type="audio/mpeg")
        itunes:image(href="http://i1.sndcdn.com/artworks-000113001246-vupdg4-original.png")
