extends layouts/default

block content
  .ui.header
    h1.huge(style="margin-bottom: 0; padding-bottom: 0;") #{config.service.name}.
    h2(style="margin-top:0; padding-top:0; letter-spacing: 0.2em; text-transform: uppercase;") !{ markdown( config.service.mission ) }

    p !{ markdown( config.service.description ) }

    if (shows.length)
      - var latestShow = shows[0];
      h2 Our Latest Show...
      h3 #{ latestShow.title } 
        small from 
          abbr.tooltipped(title="#{ moment( latestShow.released ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( latestShow.released ).fromNow() }

      br
      
      p
        audio(src="//#{ show.source.authority }/files/#{latestShow.audio}", controls="true", style="width: 100%;")

      br
      
      p !{markdown( latestShow.description || '' )}

  br

  .ui.grid
    .ten.wide.column
      .ui.fluid.card
        a.ui.attached.button(href="/shows") Previous Shows
        .content
          .ui.feed
            if (shows.length)
              for show, i in shows
                if (i > 0 && i <= 10)
                  include partials/show
        a.ui.attached.button(href="/shows") View All &raquo;
      
    .six.wide.column
      .ui.fluid.card
        a.ui.attached.button(href="/about") About Us
        .content
          h2.header HACK THE PLANET.
          p.description We're Chaz, Eric, Tony, and James – we're here to talk about anything and everything decentralized!
        a.ui.bottom.attached.button(href="/about") Learn More &raquo;

      .ui.fluid.card
        a.ui.attached.button(href="/contact") Get In Touch
        .content
          h2.header ALL THE MEDIUMS.
          p.description
            ul
              li Twitter
              li Facebook
              li Google+
        a.ui.bottom.attached.button(href="/contact") Email Us &raquo;
