extends layouts/default

block content
  .ui.header
    h1.huge #{config.service.name}.
    h2 !{ markdown( config.service.mission ) }
    
    p !{ markdown( config.service.description ) }

    if (shows.length)
      - var latestShow = shows[0];
      h3 Latest Show
      h4 #{ latestShow.title }
      
      br
      br
      
      audio(src="#{ latestShow.base }files/#{latestShow.audio}", controls="true", style="width: 100%;")

  br
  br
  br
  br
  br

  .ui.grid
    .ten.wide.column
      h3 Previous Shows
      .ui.feed
        if (shows.length)
          for show, i in shows
            if (i > 0)
              .event
                .content
                  .summary
                    a.user #{config.service.name}
                    |  published 
                    a(href="/shows/#{show.slug}") #{show.title}
                    abbr.date(title="#{show.released}") #{show.released}
                  .extra.text(style="max-width: none;") !{ (show.description) ? markdown( show.description ) : '' }
                    a.ui.button(href="/shows/#{show.slug}") Listen Now &raquo;
      
    .six.wide.column
      .ui.fluid.card
        a.ui.attached.button(href="/about") About Us
        .content
          h2.header HACK THE PLANET.
          p.description We're Chaz, Eric, Tony, and James – we're here to talk about anything and everything decentralized!
        a.ui.bottom.attached.button(href="/about") Learn More &raquo;

      .ui.fluid.card
        a.ui.attached.button(href="/contact") Get In Touch
        .content
          h2.header ALL THE MEDIUMS.
          p.description
            ul
              li Twitter
              li Facebook
              li Google+
        a.ui.bottom.attached.button(href="/contact") Email Us &raquo;
