extends layouts/default

block links
  //-link(rel="alternate", type="application/atom+xml", href="/shows")
  link(rel="alternate", type="application/atom+xml", href="/feed")
    
block scripts
  include partials/player-events

block content
  .ui.header
    h1.huge(style="margin-bottom: 0; padding-bottom: 0;") #{config.service.name}.
    h2(style="margin-top:0; padding-top:0; letter-spacing: 0.2em; text-transform: uppercase;") !{ markdown( config.service.mission ) }

    p !{ markdown( config.service.description ) }

    if (shows.length)
      - var latestShow = shows[0];
      h2
        a(href="/shows/#{latestShow.slug}") #{ latestShow.title }, 
          small published 
            abbr.tooltipped(title="#{ moment( latestShow.released ).format('MMMM Do YYYY, h:mm:ss a') }") #{ moment( latestShow.released ).fromNow() }

      .ui.grid
        p.centered.row
          - var item = latestShow
          include partials/viewer

        p.centered.row
          a.ui.button.tooltipped(href="http://#{show.source.authority}/files/#{latestShow.media}.md5sum", title="However you've received this file, its md5 checksum should be: #{latestShow.hash} BitTorrent will automatically check this for you.")
            i.lock.icon
            | Verify
          a.ui.button.tooltipped(href="http://#{show.source.authority}/files/#{latestShow.torrent}", title="Using BitTorrent will help make this content resistant to censorship.  Contribute by seeding your local copy to the network!")
            i.cloud.download.icon
            | Torrent
          a.ui.button.tooltipped(href="#{latestShow.magnet}", title="Launches your BitTorrent client directly.")
            i.magnet.icon
            | Magnet
          a.ui.button.tooltipped(href="bitcoin:#{show.donations.destination}", title="Donate to the show with Bitcoin!")
            i.bitcoin.icon
            | Donate
          a.ui.button.tooltipped(href="/shows/#{latestShow.slug}", title="View the full show notes at the permalink.")
            i.sound.icon
            | Listen &raquo;
          a.ui.button.tooltipped(href="https://twitter.com/intent/tweet?via=DecentralizeAll&url=#{show.home}/shows/#{latestShow.slug}", title="Reply to this episode on Twitter.")
            i.twitter.icon
            | Discuss &raquo;

      p !{markdown( (latestShow.description || '').split('\n\n')[0] )}

  br

  .ui.grid.stackable
    .ten.wide.column
      .ui.fluid.card
        a.ui.attached.button(href="/shows") Previous Shows
        .content
          .ui.feed
            if (shows.length)
              for item, i in shows
                if (i > 0 && i <= 10)
                  include partials/show
        a.ui.attached.button(href="/shows") View All &raquo;
      
    .six.wide.column
      .ui.fluid.card
        a.ui.attached.button(href="/about") About Us
        .content
          h2.header HACK THE PLANET.
          p.description We're Chaz, Eric, Tony, and James – we're here to talk about anything and everything decentralized!
        a.ui.bottom.attached.button(href="/about") Learn More &raquo;

      .ui.fluid.card
        a.ui.attached.button(href="/contact") Get In Touch
        .content
          p.description
            | You can find our PGP keys and email addresses on <a href="/contact">our contact page</a>, or subscribe to us using your surveillance network of choice!
                      
          p.description
            .twitter
              h4 Follow us on Twitter! 
                a(href="https://twitter.com/DecentralizeAll") @DecentralizeAll &raquo;
              a.twitter-follow-button(href="https://twitter.com/DecentralizeAll", data-size="large", data-show-screen-name="false", data-show-count="true", data-lang="en") Follow @DecentralizeAll
            .facebook
              h4 Like us on Facebook! 
                a(href="https://www.facebook.com/DecentralizeTheWorld") @DecentralizeTheWorld &raquo;
              a.fb-like(href="https://www.facebook.com/DecentralizeTheWorld", data-href="https://developers.facebook.com/docs/plugins/", data-layout="button_count", data-action="recommend", data-show-faces="true", data-share="false") DECENTRALIZE on Facebook
            .google(style="padding-top: 0.25em;")
              h4 Follow us on Google! 
                a(href="https://plus.google.com/112799215242542928928", data-rel="self") +DECENTRALIZE.fm &raquo;
              a.g-follow(href="https://plus.google.com/112799215242542928928", data-href="https://plus.google.com/112799215242542928928", data-height="24", data-rel="publisher") DECENTRALIZE on Google

        a.ui.bottom.attached.button(href="/contact") Email Us &raquo;
