extends layouts/default

block append meta
  //-
    meta(name="twitter:card", content="player")
    meta(name="twitter:title", content="#{item.title}")
    meta(name="twitter:site", content="@DecentralizeAll")
    meta(name="twitter:image", content="#{show.home}/img/decentralize-logo-huge.png")
    meta(name="twitter:player", content="https://w.soundcloud.com/player/?url=#{ encodeURIComponent( 'https://'+show.source.authority+'/files/'+item.media ) }&amp;auto_play=false&amp;show_artwork=true&amp;visual=true")
    meta(name="twitter:player:width", content="https://#{show.source.authority}/files/#{item.media}")
    meta(name="twitter:player:height", content="https://#{show.source.authority}/files/#{item.media}")
    meta(name="twitter:player:stream", content="https://#{show.source.authority}/files/#{item.media}")
    meta(name="twitter:player:stream:content_type", content="audio/mpeg")

  meta(name="og:audio", content="https://#{show.source.authority}/files/#{item.media}")

block scripts
  include partials/player-events

block content
  h1 #{ item.title }

  p
    include partials/viewer

  p
    .ui.buttons
      a.ui.button.tooltipped(href="//#{show.source.authority}/files/#{item.media}", title="Download the full mp3.")
        i.download.icon
        | Download &raquo;
      a.ui.button.tooltipped(href="//#{show.source.authority}/files/#{item.torrent}", title="Help distribute this content by using BitTorrent.")
        i.cloud.download.icon
        | Torrent &raquo;
      a.ui.button.tooltipped(href="#{item.magnet}", title="Magnet URI for this file.")
        i.magnet.icon
        | Magnet &raquo;
      a.ui.button.tooltipped(href="//#{show.source.authority}/files/#{item.media}.md5sum", title="Verify your copy of this file.")
        i.lock.icon
        | Verify &raquo;

  p !{ markdown(item.description || '') }

  h4 Verification
  p To make sure that you have an unaltered copy of this show, you should calculate its hash:
  .ui.top.attached.tabular.menu
    a.active.item(data-tab="linux") Linux
    a.item(data-tab="osx") OSX
  .ui.bottom.attached.active.tab.segment(data-tab="linux")
    pre
      code
        | $ md5sum #{item.filename}
        | #{item.hash} #{item.filename}
  .ui.bottom.attached.tab.segment(data-tab="osx")
    pre
      code
        | $ md5 #{item.filename}
        | MD5 (#{item.filename}) = #{item.hash}
