extends layouts/default

block content

  h1 #{item.title}

  h2 Preview
  .preview !{ markdown( item.description ) }
  
  h2 Edit
  
  form.ui.form(action="/shows/#{item.slug}", method="POST")
    input(type="hidden", name="method", value="PATCH")
      
    .field
      label Description
      textarea(name="description", style="height: 20em;") #{item.description}
      
    .field
      label YouTube Video ID
      input(type="text", name="youtube", value="#{item.youtube || ''}")
        
    .two.fields
      .field
        label decentral.fm Username
        input(type="text", name="username")
      .field
        label decentral.fm Password
        input(type="password", name="password")

    button.ui.submit.button(type="submit") Edit &raquo;

block scripts
  script.
    $('textarea[name=description]').keyup( renderPreview );
    
    function renderPreview() {
      var value = this.value;
      var rendered = marked( value );
      $('.preview').html( rendered );
    }
