extends layouts/default

block meta
  //-
    meta(name="twitter:card", content="player")
    meta(name="twitter:title", content="#{item.title}")
    meta(name="twitter:site", content="@DecentralizeAll")
    meta(name="twitter:image", content="#{show.home}/img/decentralize-logo-huge.png")
    meta(name="twitter:player", content="https://w.soundcloud.com/player/?url=#{ encodeURIComponent( 'https://'+show.source.authority+'/files/'+item.media ) }&amp;auto_play=false&amp;show_artwork=true&amp;visual=true")
    meta(name="twitter:player:width", content="https://#{show.source.authority}/files/#{item.media}")
    meta(name="twitter:player:height", content="https://#{show.source.authority}/files/#{item.media}")
    meta(name="twitter:player:stream", content="https://#{show.source.authority}/files/#{item.media}")
    meta(name="twitter:player:stream:content_type", content="audio/mpeg")

  //- This only differes from layout in description, and the addition of audio
  meta(name="og:title", content="DECENTRALIZE #{item.title}")
  meta(name="og:type", content="website")
  meta(name="og:image", content="#{show.home}/img/decentralize-logo-huge.png")
  meta(name="og:url", content="#{show.home}/shows/#{item.slug}")
  meta(name="og:description", content="#{ (item.description || '').split('\n\n')[0] }")
  meta(name="og:audio", content="https://#{show.source.authority}/files/#{item.media}")
  
  meta(name="twitter:card", content="summary")
  meta(name="twitter:site", content="@DecentralizeAll")
  meta(name="twitter:title", content="DECENTRALIZE #{item.title}")
  meta(name="twitter:description", content="#{ (item.description || '').split('\n\n')[0] }")
  meta(name="twitter:image", content="#{show.home}/img/decentralize-logo-huge.png")

block scripts
  include partials/player-events

block content
  h1 #{ item.title }

  if (item.youtube)
    .ui.grid
      .nine.wide.column
        h2 Full Audio Show
        p
          include partials/viewer
          
      .seven.wide.column
        h2 Video Interview
        .ui.video(data-source="youtube", data-id="#{item.youtube}")

  else
    p
      include partials/viewer

  .ui.sixteen.column.centered.grid
    .ten.wide.column
      .ui.buttons
        a.ui.button.tooltipped(href="//#{show.source.authority}/files/#{item.media}", title="Download the full mp3.")
          i.download.icon
          | Download &raquo;
        a.ui.button.tooltipped(href="//#{show.source.authority}/files/#{item.torrent}", title="Help distribute this content by using BitTorrent.")
          i.cloud.download.icon
          | Torrent &raquo;
        a.ui.button.tooltipped(href="#{item.magnet}", title="Magnet URI for this file.")
          i.magnet.icon
          | Magnet &raquo;
        a.ui.button.tooltipped(href="bitcoin:#{ show.donations.destination }", title="If you have a bitcoin wallet installed and configured, this will launch it.") 
          i.icon.bitcoin(alt="Bitoin", title="Donate Bitcoin")
          | Donate &raquo;

    .six.wide.column
      .ui.three.column.grid
        .column
          a.g-plusone(href="https://plus.google.com/share?url=#{show.home}/shows/#{item.slug}") Share on Google &raquo;
        .column
          //- TODO: notify Facebook of this bug.  When the `href` attribute is
          //- included, the progressive enh
          //-a.fb-like(href="https://www.facebook.com/sharer/sharer.php?u=#{show.home}/shows/#{item.slug}", data-width="200", data-href="#{show.home}/shows/#{item.slug}", data-layout="button_count", data-action="like", data-show-faces="false", data-share="false") Share on Facebook &raquo;
          a.fb-like(data-width="200", data-href="#{show.home}/shows/#{item.slug}", data-layout="button_count", data-action="like", data-show-faces="false", data-share="false") Share on Facebook &raquo;
        .column
          a.twitter-share-button(href="#{show.home}/shows/#{item.slug}") Share on Twitter &raquo;

  p !{ markdown(item.description || '') }
  
  if (show.donations.destination)
    h4 Tips and Donations
    p
      strong We enjoy creating this show, and we hope that you enjoy listening to it! Any #{show.donations.type} tips are appreciated.
    p
      a(href="bitcoin:#{ show.donations.destination }", title="If you have a bitcoin wallet installed and configured, this will launch it.")
        img.max-7-5-em(src="data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAV4AAAFeAQMAAAD35eVZAAAABlBMVEX///8AAABVwtN+AAAAAXRSTlMAQObYZgAAAe9JREFUaN7tm82twzAMgwlkAI+U1T1SBjCgd7D+3PbdGYA+BG38JRfDtCgpgMbbx20+cNsCMMzi3oJNXDH/CCaFHwDAZb6iAQMAzJ6YuAXTwpfte/cDmNnqb7mfy58V/ALYFmwOM2CsvdIxIfglsFlo7IJfBL8ATskdCzWxT8nSYsG0cIU9W3e/Lr9jJMEscBtjwWY4jA3/PwSzwCm0sXWBvfo+2zexYEr4jFm37j5+cnYtFkwK+1+zvVfbW8L+R2QkmBeuE7HMYxPfc7kFk8F7YpjZHOv4FXu1RTyCCeG+Q7t53BPAZZ4SEMwKt1zpYThm5lT9McGc8C5fVJDaNqdbxrbcghnhJ8KeXXvKwHWOdJCjSlGC+eCWcwsTMlNtLRI4pcqC2eBQ26pcuNo2Qc44VjAjHNm3Ktk33xiV/l7QF0wFe2Dj9r9i1tDYFZlywaRwpuCiG2P5cntF0T5bMgSTwTgan2K5zWV4IpIDJpgVzvxpmpCdA8gETp2cghnhNBe+YZ9e2o+R/lIwH9xqveE/qq+0oiDBtHC1ZHjCNH3j2RYlmBb+rCj+aEgUzA3HbJNcZEogJfejj1EwIVypnPlDhicE08PhOg6r791tgonhkNxdDh55acv93UssmAdun6ql/6hP1Y7vngQzwhrvHn80Lq6EElgjXQAAAABJRU5ErkJggg==")
    p
      a.ui.button.tooltipped(href="bitcoin:#{ show.donations.destination }", title="If you have a bitcoin wallet installed and configured, this will launch it.") 
        i.icon.bitcoin(alt="Bitoin", title="Donate Bitcoin")
        | #{ show.donations.destination }

  h4 Verification
  p To make sure that you have an unaltered copy of this show, you should calculate its hash:
  .ui.top.attached.tabular.menu
    a.active.item(data-tab="linux") Linux
    a.item(data-tab="osx") OSX
  .ui.bottom.attached.active.tab.segment(data-tab="linux")
    pre
      code
        | $ md5sum #{item.filename}
        | #{item.hash} #{item.filename}
  .ui.bottom.attached.tab.segment(data-tab="osx")
    pre
      code
        | $ md5 #{item.filename}
        | MD5 (#{item.filename}) = #{item.hash}
        
block scripts
  <!-- Google Code for decentralize.fm Conversion Page -->
  script.
    /* <![CDATA[ */
    var google_conversion_id = 1067658150;
    var google_conversion_language = "en";
    var google_conversion_format = "3";
    var google_conversion_color = "ffffff";
    var google_conversion_label = "1Ki_CI7gm1sQpteM_QM";
    var google_remarketing_only = false;
    /* ]]> */

  script(src="//www.googleadservices.com/pagead/conversion.js")
  noscript
    div(style="display:inline;")
      img(height="1", width="1", style="border-style:none;", alt="", src="//www.googleadservices.com/pagead/conversion/1067658150/?label=1Ki_CI7gm1sQpteM_QM&amp;guid=ON&amp;script=0")
