extends layouts/default

block meta
  //-
    meta(name="twitter:card", content="player")
    meta(name="twitter:title", content="#{item.title}")
    meta(name="twitter:site", content="@DecentralizeAll")
    meta(name="twitter:image", content="#{show.home}/img/decentralize-logo-huge.png")
    meta(name="twitter:player", content="https://w.soundcloud.com/player/?url=#{ encodeURIComponent( 'https://'+show.source.authority+'/files/'+item.media ) }&amp;auto_play=false&amp;show_artwork=true&amp;visual=true")
    meta(name="twitter:player:width", content="https://#{show.source.authority}/files/#{item.media}")
    meta(name="twitter:player:height", content="https://#{show.source.authority}/files/#{item.media}")
    meta(name="twitter:player:stream", content="https://#{show.source.authority}/files/#{item.media}")
    meta(name="twitter:player:stream:content_type", content="audio/mpeg")

  //- This only differes from layout in description, and the addition of audio
  meta(name="og:title", content="DECENTRALIZE #{item.title}")
  meta(name="og:type", content="website")
  meta(name="og:image", content="#{show.home}/img/decentralize-logo-huge.png")
  meta(name="og:url", content="#{show.home}/shows/#{item.slug}")
  meta(name="og:description", content="#{ (item.description || '').split('\n\n')[0] }")
  meta(name="og:audio", content="https://#{show.source.authority}/files/#{item.media}")
  
  meta(name="twitter:card", content="summary")
  meta(name="twitter:site", content="@DecentralizeAll")
  meta(name="twitter:title", content="DECENTRALIZE #{item.title}")
  meta(name="twitter:description", content="#{ (item.description || '').split('\n\n')[0] }")
  meta(name="twitter:image", content="#{show.home}/img/decentralize-logo-huge.png")

block scripts
  include partials/player-events

block content
  h1 #{ item.title }

  if (item.youtube)
    .ui.video(data-source="youtube", data-id="#{item.youtube}")

    h2 Full Audio Show
    p
      include partials/viewer
      
  else
    p
      include partials/viewer

  .ui.two.column.centered.grid
    .column
      .ui.buttons
        a.ui.button.tooltipped(href="//#{show.source.authority}/files/#{item.media}", title="Download the full mp3.")
          i.download.icon
          | Download &raquo;
        a.ui.button.tooltipped(href="//#{show.source.authority}/files/#{item.torrent}", title="Help distribute this content by using BitTorrent.")
          i.cloud.download.icon
          | Torrent &raquo;
        a.ui.button.tooltipped(href="#{item.magnet}", title="Magnet URI for this file.")
          i.magnet.icon
          | Magnet &raquo;
        a.ui.button.tooltipped(href="//#{show.source.authority}/files/#{item.media}.md5sum", title="Verify your copy of this file.")
          i.lock.icon
          | Verify &raquo;

    .column
      .ui.three.column.grid
        .column
          a.g-plusone(href="https://plus.google.com/share?url=#{show.home}/shows/#{show.slug}") Share on Google &raquo;
        .column
          a.fb-like(href="https://www.facebook.com/sharer/sharer.php?u=#{show.home}/shows/#{show.slug}", data-width="200", data-href="#{show.home}/shows/#{show.slug}", data-layout="button_count", data-action="like", data-show-faces="false", data-share="false") Share on Facebook &raquo;
        .column
          a.twitter-share-button(href="#{show.home}/shows/#{show.slug}") Share on Twitter &raquo;

  p !{ markdown(item.description || '') }

  h4 Verification
  p To make sure that you have an unaltered copy of this show, you should calculate its hash:
  .ui.top.attached.tabular.menu
    a.active.item(data-tab="linux") Linux
    a.item(data-tab="osx") OSX
  .ui.bottom.attached.active.tab.segment(data-tab="linux")
    pre
      code
        | $ md5sum #{item.filename}
        | #{item.hash} #{item.filename}
  .ui.bottom.attached.tab.segment(data-tab="osx")
    pre
      code
        | $ md5 #{item.filename}
        | MD5 (#{item.filename}) = #{item.hash}
